doctype html
html(lang='pl')
html
    head
        meta(charset='UTF-8')
        title="Hello"
    body
        h1 Cześć
        p.text Aplikacja do logowania
        a(href="/userform") Zaloguj się 
